<div class="articles-container">
<% @articles.each do |article| %>
  <p class="d-flex mt-2" ><%= link_to article_path(article), class: "article-title" do %>
    <%= article.title %>
  <% end %>
  </p>
  <p>
    <%= article.content %>
  </p>
<% end %>
</div>
